/* || GLOBAL STYLINGS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #fff;
  transition: 0.4s all;
}

a:hover,
a:focus {
  color: #2278fe;
}

article {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* || CONTENT */

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-image: url("../../img/space-bg.jpg");
}

/* || HEADER  */

.row {
  display: flex;
  justify-content: space-between;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 1em 2em;
}

.icons {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: clamp(1.7rem, 8vw, 2.8rem);
  margin: 0;
}

.fa-brands {
  font-size: 2.5rem;
}

.fa-brands + .fa-brands {
  margin-left: 1.5rem;
}

.fa-eye,
.fa-github {
  font-size: 2.5rem;
}

.fa-github {
  margin-left: 1.5rem;
}

/* || MAIN CONTENT */

.mapContainer {
  background-color: #141414;
  width: 60%;
  border: solid 1px #ffffff30;
  border-radius: 15px;
}

#map {
  max-width: 100%;
  min-height: 550px;
  border-radius: 15px;
}

/* INFO PANEL */
.infoPanel {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  width: 38%;
  border: solid 1px #ffffff30;
  border-radius: 15px;
  text-align: center;
  justify-content: space-evenly;
}

.fa-location-dot {
  color: #f45757;
  margin-right: 0.5em;
}

.infoContainer {
  padding: 1em;
  /* border: solid 1px #fff; */
}

.infoContainer p {
  font-size: 1.2rem;
}

.iss-white {
  display: block;
  margin: 0 auto;
}

.location h2 {
  margin: 0 auto;
}

p.dynamicLoc {
  font-size: 1.4rem;
  line-height: 1.5em;
}

.dot-msg {
  margin-bottom: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
  max-width: 65%;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 60px;
  border: solid 1px #fff;
  /* border-color: #fff; */
  background-color: #141414;
  padding: 0.4em 0.5em;
  transition: 0.4s all;
}

.btn:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.active {
  background-color: #078343;
}

.hover {
  background-color: #3d3d3d;
}

.btn__wrap {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1rem;
}

.distanceInfo p {
  margin: 0;
}

.distance,
.lat,
.lon {
  color: rgb(241, 230, 7);
}

div.leaflet-popup-content-wrapper {
  text-align: center;
}

p.refreshRate {
  color: #aaa8a8;
  margin-top: 0.2rem;
}

/* Planet Animation */
.planetAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.planet {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  background-image: linear-gradient(
    to top,
    #0653c8,
    #0080ea,
    #00a0d3,
    #00b88f,
    #0ac833
  );
  position: absolute;
  bottom: 21%;
  left: 22%;
  animation: planet 10s linear infinite;
}

.iss-anim {
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  position: absolute;
  left: 19px;
}

.iss-anim-orbit {
  border-radius: 50%;
  height: 7em;
  width: 7em;
  position: relative;
  /* border: 1px #8f8787 dashed; */
  animation: orbit 7s linear infinite;
}

.iss-anim-container {
  position: relative;
}

@keyframes planet {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

/* || FOOTER */

footer.container {
  margin: 0 auto;
  border-top: solid 1px #fff;
  width: 95%;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  display: inline;
}

li + li {
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .row {
    display: block;
  }

  .mapContainer,
  .infoPanel {
    width: 100%;
  }

  .mapContainer {
    margin-top: 1em;
  }

  .footerLinks {
    display: block;
    text-align: center;
  }
}

@media (max-width: 730px) {
  .header__row {
    display: block;
    text-align: center;
  }

  .icons {
    justify-content: center;
    margin-top: 0.5em;
  }

  .fa-github {
    font-size: 3rem;
  }

  i.fa-html5,
  i.fa-css3-alt,
  i.fa-square-js {
    display: none;
  }

  .footerLinks li,
  .footerLinks p {
    font-size: 1.2;
  }
}

@media (max-width: 600px) {
  #map {
    min-height: 350px;
  }

  div.planetAnimation {
    display: none;
  }

  footer.container {
    text-align: center;
  }
  ul {
    list-style: none;
  }

  li {
    display: block;
  }

  li + li {
    margin-left: 0;
  }

  .btn__wrap {
    flex-direction: column;
  }

  .btn {
    max-width: 100%;
  }

  img.iss-white {
    display: none;
  }

  .infoPanel h2,
  .infoPanel p {
    text-align: center;
  }

  .infoContainer {
    padding: 1em;
    display: flex;
  }

  .infoContainer,
  .infoPanel {
    flex-direction: column-reverse;
  }

  p.refreshRate,
  p.dot-msg {
    display: none;
  }
}
